// Home Button scss file 
$bg-indigo-500: #667eea;
$bg-indigo-600: #5a67d8;
$white: #ffffff;

.flexContainer {
    display: flex;
    gap: 1rem;
}

.button {
    background-color: transparent;
    color: black;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border: 1px solid $bg-indigo-500;
    border-radius: 0.25rem;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    &:hover {
        background-color: $bg-indigo-600;
        color: $white;
        border-color: transparent;
    }
}